/* Reset geral*/
*{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
}

body{
    justify-content: center;
    margin: auto;
}

.estrutura{
    display: grid;
    grid-template-areas: 
    "header" 
    "cont" 
    "footer" 
    ;
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/
.header{
    grid-area: header;
    background: white;
    width: 100vw;;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #FF5A00;

}

.logo{
    max-width: 180px;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header li {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

header li:hover{
    color: #FF5A00;
    cursor: pointer;
}



/*CONT*/
.cont{
    grid-area: cont;
}



/*RESERVA*/
.reserva{
    max-width: 75vw;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container-reserva{
    margin: 30px 0 30px 20px;
    max-width: 550px;
} 

.container-reserva h1{
    margin-bottom: 30px;
    color: #262626;
    font-size: 60px;
    line-height: 71px;
}

.titulo-laranja{
    color: #FF5A00;
}

.container-reserva p{
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28.44px;
    color: #262626;
}

.button-home{
    display: flex;
    margin-top: 20px;
}


/*BUTTON*/
.pedir{
    display: block;
    width: 180px;
    padding: 13px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #FF5A00;
    margin-right: 3%;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
}

.pedir:hover{
    color: white;
    background: #FF5A00;
    cursor: pointer;
}

.cardapio-button{
    display: block;
    width: 180px;
    height: 60px;
    padding: 13px;
    border-radius: 8px;
    background-color: #FF5A00;
    border: 2px solid #FF5A00;
    color: white;
    margin-right: 3%;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;

}

.cardapio-button:hover{
    background-color: white;
    border: 2px solid #FF5A00;
    color: black;
    cursor: pointer;
}


/*IMG*/
.layer{
    background-image: url(../img/layer.png);
    background-repeat: no-repeat;
}

.modelo{
    top: 10px;
    max-width: 690px;
    height: 530px;
}


/*ENTREGA*/
.entrega{
    max-width: 75vw;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.container-img-prato{
    max-width: 550px;
}

.img-prato{
    max-width: 550px;
}

.container-entrega h1{
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 47.4px;
    width: 550px;
}

.container-entrega p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height:28.44px;
}

.container-servicos{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.card-servico{
    display: grid;
    width: 130px;
    height: 120px;
    justify-items: center;
    text-align: center;
    padding-top: 10px;
    border: 2px solid #FF5A00;
    border-radius: 8px;
    margin: 5px;
}

.card-servico:hover{
    cursor: pointer;
}

.card-servico p{
    font-size: 24px;
}


/*CARDÃPIO*/

.container-cardapio{
    justify-content: center;
    margin-top: 150px;
    max-width: 100vw;
}

.container-cardapio h2{
    font-size: 40px;
    line-height: 47.4px;
    text-align: center;
}

.container-cardapio p{
    font-size: 24px;
    height: 24.44px;
    text-align: center;
}

.cardapio{
    max-width: 75vw;
    justify-content: center;
    margin: auto;
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

h2{
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 47.4px;
    text-align: center;
}


.cardapio p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height:28.44px;
}

.container-variedades{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    border: 2px solid black;
    background: #FFBD99;
    border-radius: 8px;
    padding: 15px;
    border: none;
}

.container-variedades img{
    max-width: 50px;
    max-height: 50px;
    align-self: center;
    margin-left: 15px;
}

.card-variedades{
    width: 275px;
    height: 60px;
    margin: 7px;
    background: white;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
}

.card-variedades:hover{
    background: #FF5A00;
    cursor: pointer;
}

.card-variedades p{
    margin: auto;
    margin-left: 20px;
}


/*area hamburguer*/
.container-hamburguer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-hamburguer img{
    width: 300px;
}

.hamburguer-individual{
    height: 370px;
    margin: 0px 10px 50px 0px;
}

.card-hamburguer{
    background: #FFBD99;
    max-width: 264px;
    height: 163px;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    top: -70px;
    margin: auto;
}

.card-hamburguer:hover{
    background: #FF5A00;
    top: -80px;
    transition: 0.2s;
}

.card-hamburguer:hover button{
    background-color: #262626;
    color: white;
    cursor: pointer;
}

.card-hamburguer h2{
    font-size: 24px;
    text-align: center;
}

.card-hamburguer p{
    font-size: 14px;
    text-align: center;
    margin-top: -32px;
}

.infos-burguer{
    margin-top: 60px;
}

.infos-burguer p{
    margin: 0;
}

.infos-burguer{
    display: flex;
    justify-content: space-between;
}

.infos-burguer > button{
    width: 90px;
    height: 23px;
    border-radius: 9px;
    border: 2px solid #FF5A00;
    background: transparent;
}

/*restaurante*/

.restaurant{
    height: 550px;
    background-image: url(../img/rest.png);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.restaurant img{
    max-width: 500px;
}

.text-restaurant{
    max-width: 500px;
    display: grid;
    margin-left: 120px;
}

.restaurant h2{
    font-size: 40px;
    line-height: 47.4px;
    text-align: left;
    color: white;
}

.restaurant p{
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: white;
}

/* Nosso time */

.time-container{
    width: 100vw;
    margin-top: 40px;
}

.time-cards{
    display: flex;
    justify-content: center;
}

.time{
    width: 250px;
    padding: 10px;
}

.time-infos{
    background: #FFBD99;
    max-width: 210px;
    height: 100px;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    margin: auto;
    top: -140px;
}

.time-infos:hover{
    background: #FF5A00;
    top: -150px;
    transition: 0.2s;
    cursor: pointer;
}
.time-infos h3{
    display: block;
    font-size: 24px;
    line-height: 28.44px;
    text-align: center;
}

.time-infos span{
    display: block;
    font-size: 16px;
    line-height: 16.59px;
    text-align: center;
    margin-top: 7px;
}

.icones-sociais{
    display: flex;
    justify-content: center;
}

.icones-sociais img{
    width: 20px;
    margin: 12px;
}

/*Feedback*/

.feedback-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feedback-images{
    background: url(../img/feedback.png) no-repeat;
    height:28rem ;
    max-width:700px ;
    display: grid;
    place-items: center;
    border-radius: 0px 20px 20px 0px;

}

.frango img{
    position: relative;
    left: 80%;
    height: 300px;
}

.feedback-clientes{
    align-self: center;
}

.feedback-clientes h1{
    font-size:40px;
    line-height: 47.4px;
    margin-bottom: 32px;
    text-align: center;
}

.container-card-client{
    display: flex;
}

.feedback-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
     "img        name"
     "descricao  descricao"
    ;
    max-width: 220px;
    height: 250px;
    padding: 10px;
    background: #FFBD99;
    border-radius: 8px;
}

.feedback-card + .feedback-card{
    margin-left: 10px;
}

.name-client{
    margin-left: -40px;
}

.name-client h3{
    font-size: 18px;
}

.name-client span{
    font-size: 14px;
}

.feedback-card p{
    grid-area: descricao;
    margin-top: -60px;
    text-align: left;
    font-size: 14px;
}

/*footer*/

.container-footer{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 50px;
    background: #FF5A00;
    color: white;
}

.container-footer h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.logo-footer{
    width: 180px;
    height: 180px;
}

.nav-footer ul{
    font-size: 16px;
    line-height: 23px;
}

.nav-footer a{
    color: white;
}

.card-contato{
    display: flex;
    margin-bottom: 10px;
}

.card-contato p{
    margin-left: 10px;
}

.form-news-letter{
    display: flex;
    flex-direction: column;
}

.form-news-letter input, .form-news-letter button{
    height: 32px;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: none;
}

.form-news-letter button{
    background: #262626;
    color: white;
    cursor: pointer;
}

.form-news-letter:hover button{
    background: #424242;
}

